@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: var(--vt-c-white);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-black);
    border-radius: 12px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

}


@media ( max-width: 1024px) {
  #app {
    gap: 2rem;
  }

  
}